{%extends 'activities/base.html'%}
{%block title%} Métricas - Actividades DCC {%endblock%}
{%block css%}{%endblock%}
{%block content%}
    <h1>Métricas de la página</h1>
    <p>Acá podrás observar los números que se manejan en la página.</p>
    <div class = "stats-container">
        <figure class = "highcharts-figure">
            <div id="container_1"></div>
            <p class = "highcharts-description">
                El gráfico anterior muestra la cantidad de miembros registrados por día.
            </p>
        </figure>

        <figure class = "highcharts-figure">
            <div id="container_2"></div>
            <p class = "highcharts-description">
                El gráfico anterior muestra la cantidad de actividades por tipo.
        </figure>

        <figure class = "highcharts-figure">
            <div id="container_3"></div>
            <p class = "highcharts-description">
                El gráfico anterior muestra la cantidad de actividades registradas por comuna.
            </p>
        </figure>
    </div>
    <div style="text-align: center;">
        <a href="{{ url_for('index') }}">Volver a la portada</a>
    </div>
{%endblock%}
{%block javascript%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src= "{{ url_for('static', filename = 'js/metricas.js')}}"></script>
{%endblock%}