{%extends 'activities/base.html'%}
{%block title%} Métricas - Actividades DCC {%endblock%}
{%block css%}
    <style>
        .Graficos{
            width: 600px; 
            height: auto;
        }
    </style>
{%endblock%}
{%block content%}
    <h1>Métricas de la página</h1>
    <p>Acá podrás observar los números que se manejan en la página. La distribución de usuarios y actividades de la plataforma.</p>
    <figure>
        <img src="{{ url_for('static', filename='svg/distribucion_Actividades_PorTipo.png') }}" alt="Gráfico Tipos de Usuario" class = "Graficos">
        <figcaption>Distribución de usuarios por tipo (en porcentaje)</figcaption>
    </figure>
    <br>
    <figure>
        <img src="{{ url_for('static', filename='svg/crecimiento_Actividades_PorTipo.png') }}" alt="Grafico Crecimiento Actividades" class = "Graficos">
        <figcaption>Crecimiento en el tiempo de actividades publicadas por categoría (por cantidad)</figcaption>
    </figure>
    <br>
    <figure>
        <img src="{{ url_for('static', filename='svg/distribucion_Usuarios_Porcentaje.png') }}" alt="Grafico Distribución Actividades" class = "Graficos">
        <figcaption>Distribución de actividades publicadas por categoría (por cantidad)</figcaption>
    </figure>
{%endblock%}
{%block javascript%}{%endblock%}